/* 공통클래스 스타일 */
.wrap{
    width: 1600px;
    margin: 0 auto;
  }
  .flex{
    display: flex;
  }
  .flex-center{
    justify-content: center;
  }
  .flex-between{
    justify-content: space-between;
  }
  .flex-align-center{
    align-items: center;
  }
  .flex-column{
    flex-direction: column;
  }
  .text-center{
    text-align: center;
  }
  .hide{
    display: none; /* 안보이게 */
  }
  .rbox{
    width: 300px;
    height: 300px;
    background-color: #eee;
    border-radius: 20px;
    text-align: center;
  }