footer {
  
}
#five{
  width: 100%;
  height: 800px;
  position: relative;
}
footer #five nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 0.5px solid #999;
  border-top: 0.5px solid #999;
  margin: 0 150px;
}
footer #five nav h2 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
footer #five nav .sns {
  gap: 30px;
}
footer #five nav .sns li {
  font-weight: bolder;
}
footer #five nav .sns li a {
}
footer #five .me {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 200px;
  left: 200px;
  border: 1px solid;
}
footer div.wrap {
  width: 900px;
  height: 500px;
  margin-left: 800px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer div.wrap h3 {
  font-size: 30px;
  background-color: black;
  color: white;
}
footer div.wrap .mail {
  flex-direction: column;
  gap: 30px;
}
footer div.wrap .mail li {

}
footer div.wrap .mail li:nth-child(1){
  font-size: 77px;
  font-weight: bold;
  margin-bottom: 15px;
}
footer div.wrap .mail li:nth-child(2){
  margin-bottom: 80px;
  position: relative;
}
footer div.wrap .mail li:nth-child(3){
  line-height: 3;
  font-size: 16px;
  font-weight: bold;
}
footer div.wrap .mail li a {
  font-family: 'Russo One', sans-serif;
}
footer div.wrap .mail li:nth-child(2) a{
  border-bottom : 1px solid #e9e9e9;
  padding: 10px 55px 10px 20px;
}
footer div.wrap .mail li:nth-child(2) a:hover{
  border: 1px solid black;
  border-radius : 15px;
}
footer div.wrap .mail li:nth-child(2) a::after{
  content: "";
  display: inline-block;
  width: 50px;
  height: 25px;
  background-image: url(../img/mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -5px;
}
footer div.wrap2 {
  width: 95%;
  height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 21px;
}
footer div.wrap2 p {
  color: #b0b0b0;
}
footer .Btop{
  width: 50px;
  height: 50px;
  background-color: black;
  position: fixed;
  right: 30px;
  bottom: 60px;
}










