/* 상단 */
header{
  width: 100%;
}
header div.wrap{
  height: 100px;
  align-items: center;
  position: relative;
  border-bottom: 0.5px solid #999;
  border-top: 0.5px solid #999;
  margin-top: 20px;
}
header div.wrap h1{
  margin: 0 auto;
}
header div.wrap h1::before{
  content: "";
  display: inline-block;
  /*! background-image: url(../img/logo.png); */
  width: 100px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
header div.wrap p{
  position: absolute;
  right: 0;
}
/* 타이틀 */
#title{
  background-image: url(../img/title.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
#title div.wrap{
  flex-direction: column;
  height: 800px;
  align-items: end;
  justify-content: center;
  padding-right: 225px;
  position: relative;
}
#title div.wrap h2{
  font-size: 100px;
  margin-bottom: 30px;
  font-family: 'Russo One', sans-serif;
  background-color: #fff;
}
#title div.wrap p{
  line-height: 2.3;
  font-size: 20px;
} 
#title div.wrap p span{
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
}
#title div.wrap .scroll{
  position: absolute;
  left: calc(1902px / 2 - 103px);
  top: 700px;
  color: black;
}