#one {
  width: 100%;
}
#one .wrap {
  height: 900px;
  justify-content: space-around;
} 
#one .wrap article{
  width: 500px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: #eee;
  padding-right: 70px;
  padding-left: 70px;
}
#one .wrap article h2{
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 100px;
}
#one .wrap article p {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
#one .wrap .one1 p {
  background-image: url(../img/pho.png);
}
#one .wrap ul {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 3;
}
#one .wrap ul li{
  
}
#one .wrap .one2 p {
  background-image: url(../img/per.png);
}
#one .wrap .one2 ul{
  position: relative;
  line-height: 1.5;
}
#one .wrap .one2 ul li{
  position: absolute;
}
#one .wrap .one2 ul li:nth-child(1){
  bottom: 320px;
  left: -50px;
}
#one .wrap .one2 ul li:nth-child(2){
  
  bottom: 494px;
  left: 230px;
}
#one .wrap .one2 ul li:nth-child(3){
  
  bottom: 290px;
  right: -60px;
}
#one .wrap .one2 ul li:nth-child(4){
  
  left: 370px;
  bottom: -10px;
}
#one .wrap .one2 ul li:nth-child(5){
  
  left: 25px;
}