#three {
  width: 100%;
}
#three .wrap { 
  height: 3500px;
  flex-direction: column;
  align-items: center;
}
#three .wrap h2 {
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 30px;
}
#three .wrap .wrap2 {
  
}
#three .wrap .wrap2 article {
  border: 1px solid;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#three .wrap .wrap2 article .rbox {
  
}
#three .wrap .wrap2 article p {
  width: 200px;
  height: 150px;
}
#three .wrap .wrap3 {
  
}
#three .wrap .wrap3 ul {
  
}
#three .wrap .wrap3 ul li {
  
}