#two{
  width: 100%;
} 
#two .wrap {
  height: 1000px;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
} 
#two .wrap h2 {
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 30px;
}
#two .wrap .two1 {
  height: 500px;
  border: 1px solid;
  padding: 20px;
}
#two .wrap .two1 ul {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 400px;
}
#two .wrap .two1 ul li {
  transition: all 1s;
}
#two .wrap .two1 ul li:hover {
  background-color: black;
  color: white;
  border-top: 1px solid black;
}
#two .wrap .two1 ul li p{
  padding-top: 20px;
  padding-bottom: 10px;
} 
#two .wrap .two1 ul li p:nth-of-type(1){
  font-size: 20px;
  border-top: 1px solid #929292;
}
#two .wrap .two1 ul li p:nth-of-type(2){
  
}
#two .wrap .two1 ul li .way{
  width: 250px;
  height: 250px;
  display: block;
  border: 1px solid #929292;
  border-radius: 30px;
  margin-top: 10px;
  background-image: url(../img/hak.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}
#two .wrap .two1 ul li:nth-child(2) .way{
  background-image: url(../img/ip.png);
}
#two .wrap .two1 ul li:nth-child(3) .way{
  background-image: url(../img/com.png);
}   
#two .wrap .two1 ul li:nth-child(4) .way{
  background-image: url(../img/web.png);
}
#two .wrap .two2 {
  
  height: 300px;
  border: 1px solid;
  padding: 20px;
}
#two .wrap .two2 ul {
  justify-content: space-around;
  height: 200px;
  align-items: center;
}
#two .wrap .two2 ul li {
  
}
#two .wrap .two2 h2 {
  text-align: end;
}